/* admin-theme.css */

/* 日间模式变量 */
:root {
    --bg-color: #ffffff;
    --header-bg-color: #ffffff;
    --text-color: #333333;
    --primary-color: #007acc;
    --border-color: #dcdcdc;
    --sidebar-bg-color: #F9F9F9;
    --sidebar-text-color: #333333;
    --sidebar-border-color: #dcdcdc;
    --sidebar-hover-color: #007acc; /* 菜单悬停颜色 */
    --submenu-bg-color: #e6e6e6; /* 子菜单背景色 */
    --submenu-text-color: #333333; /* 子菜单文字颜色 */
    --submenu-selected-bg-color: #d0d0d0; /* 子菜单选中背景色 */
}

/* 夜间模式变量 */
html.dark {
    --bg-color: #333333;
    --header-bg-color: #333333;
    --text-color: #b0b0b0; /* 较柔和的灰色 */
    --primary-color: #4a90e2;
    --border-color: #3b3b3b;
    --sidebar-bg-color: #1f1f1f;
    --sidebar-text-color: #d0d0d0;
    --sidebar-border-color: #3b3b3b;
    --sidebar-hover-color: #4a90e2; /* 夜间模式菜单悬停颜色 */
    --submenu-bg-color: #2a2a2a; /* 深色主题子菜单背景色 */
    --submenu-text-color: #d0d0d0; /* 深色主题子菜单文字颜色 */
    --submenu-selected-bg-color: #444444; /* 深色主题子菜单选中背景色 */
}

/* 面包屑样式 */
.admin-container .right .header .breadcrumb {
    flex: 1;
}

/* 浅色模式下的默认样式 */
.admin-container .right .header .breadcrumb .ant-breadcrumb,
.admin-container .right .header .breadcrumb .ant-breadcrumb a,
.admin-container .right .header .breadcrumb .ant-breadcrumb .ant-breadcrumb-link,
.admin-container .right .header .breadcrumb .ant-breadcrumb .ant-breadcrumb-separator,
.admin-container .right .header .breadcrumb .ant-breadcrumb .ant-breadcrumb-item {
    color: var(--text-color);
    text-decoration: none;
}

/* 深色模式下的面包屑样式 */
html.dark .admin-container .right .header .breadcrumb .ant-breadcrumb,
html.dark .admin-container .right .header .breadcrumb .ant-breadcrumb a,
html.dark .admin-container .right .header .breadcrumb .ant-breadcrumb .ant-breadcrumb-link,
html.dark .admin-container .right .header .breadcrumb .ant-breadcrumb .ant-breadcrumb-separator,
html.dark .admin-container .right .header .breadcrumb .ant-breadcrumb .ant-breadcrumb-item {
    color: #c0c0c0 !important; /* 柔和的浅灰色，避免过于明亮 */
}

/* 深色模式下的链接悬停效果 */
html.dark .admin-container .right .header .breadcrumb .ant-breadcrumb a:hover {
    color: #a0b9ff !important; /* 浅蓝色悬停效果 */
}
