@font-face {
    font-family: "iconfont"; /* Project id 4727526 */
    src: url('//at.alicdn.com/t/c/font_4727526_vtd4kx5jm6.woff2?t=1730189341041') format('woff2'),
    url('//at.alicdn.com/t/c/font_4727526_vtd4kx5jm6.woff?t=1730189341041') format('woff'),
    url('//at.alicdn.com/t/c/font_4727526_vtd4kx5jm6.ttf?t=1730189341041') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
    content: "\e788";
}

.icon-tupian:before {
    content: "\e67f";
}

.icon-shezhi:before {
    content: "\e892";
}

.icon-wenzhang:before {
    content: "\e67d";
}
